@charset "utf-8";

body {
    font-family:'Hiragino Kaku Gothic Pro',sans-serif;
    font-size: 14px;
    color: #333333;
    letter-spacing: 1.5px;
    font-weight: 600;
}

a {
    text-decoration: none;
    /* transition: all 0.3s; */
}

a:hover{
    opacity: 0.6;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

#page-top{
    position: fixed;
    bottom: 85px;
    right: 55px;
}

#page-top a {
    background-color: #ececec;
    text-decoration: none;
    width: 80px;
    height: 80px;
    padding: 15px 5px;
    text-align: center;
    font-size: 35px;
    color: black;
    display: block;
  }

@media screen and (max-width:768px) {
    #page-top {
        bottom: 30px;
        right: 15px;
    }
    #page-top a {
        width: 40px;
        height: 40px;
        padding: 10px 5px;
        font-size: 15px;
    }
}


#header{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    padding: 15px 30px;
    margin: 0 auto;
}

.logo-flex{
    display: flex;
    align-items: flex-end;
}

.logo{
    width: 128px;
}

.logo-flex p{
    margin-bottom: 2px;
}

.header-btn{
    background-color: #da6b64;
    color: white;
    font-weight: 300;
    padding: 12px 40px;
    border-radius: 35px;
}

.sp-header-btn{
    display: none;
}

@media screen and (max-width:768px) {
    .header{
        padding: 0 0 0 5px;
    }
    .header-btn-cont{
        display: none;
    }
    .logo-flex{
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .logo{
        width: 90px;
    }
    .logo-flex p{
        font-size: 10px;
        margin-bottom: 0;
        line-height: 1;
        letter-spacing: 0px;
    }
    .sp-header-btn{
        background-color: #da6b64;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .sp-header-btn img{
        width: 20px;
    }
    .sp-header-btn a{
        color: white;
        font-weight: 300;
        font-size: 12px;
    }
}



.main-visual{
    background-image: url('static/main.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
    position: relative;
}

.mv-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.mv-title{
    font-size: 28px;
    line-height: 2;
}

.mv-img{
    width: 317px;
    margin: 15px 0 30px;
}

.mv-subtitle{
    font-size: 20px;
    line-height: 1;
}

@media screen and (max-width:768px) {
    .mv-cont{
        top: 55%;
    }
    .main-visual{
        height: 375px;
        background-image: url('static/mainsp.jpg');
        background-position: initial;
    }
    .mv-title{
        font-size: 18px;
        white-space: nowrap;
    }
    .mv-img{
        width: 234px;
    }
    .mv-subtitle{
        font-size: 14px;
        white-space: nowrap;
        line-height: 1.6;
    }
}




#intro{
    background-color: #EBB94D;
}

.container{
    max-width: 1140px;
    padding: 0px 30px;
    margin: 0 auto;
}

.intro-cont{
    color: white;
    padding: 30px 0;
    text-align: center;
}

.intro1{
    font-size: 22px;
}

.intro2{
    font-size: 18px;
    background-color: white;
    color: #C7254E;
    padding: 2px 4px;
    display: inline-block;
    margin-top: 20px;
}

.intro-btn-cont{
    margin: 40px 0 50px;
}

.intro-btn{
    background-color: #da6b64;
    color: white;
    font-size: 28px;
    padding: 30px 100px;
    border-radius: 100px;
    width: 85%;
    display: block;
    margin: auto;
}

.intro3{
    font-size: 18px;
    margin-bottom: 30px;
}

.sns-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-br{
    display: none;
}

@media screen and (max-width:768px) {
    .intro1{
        font-size: 16px;
    }
    .intro2{
        font-size: 14px;
        font-weight: 300;
        width: 80%;
        border-radius: 5px;
    }
    .intro-btn-cont {
        margin: 20px 0;
    }
    .intro-btn{
        width: 329px;
        font-size: 20px;
        padding: 15px 30px;
    }
    .intro3{
        font-size: 15px;
    }
    .sp-br{
        display: block;
    }
}






#intro2{
    background-image: url('static/introbottom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.intro2-cont{
    padding: 65px 0 50px;
    text-align: center;
}

.intro2-title{
    font-size: 28px;
    position: relative;
}

.intro2-title::before{
    content: '';
    position: absolute;
    border-top: solid 4px #EBB94D;
    border-left: solid 4px #EBB94D;
    width: 55px;
    height: 55px;
    top: -30px;
    left: 155px;
}

.intro2-title::after{
    content: '';
    position: absolute;
    border-bottom: solid 4px #EBB94D;
    border-right: solid 4px #EBB94D;
    width: 55px;
    height: 55px;
    bottom: -40px;
    right: 145px;
}
    
.intro2-txt{
    margin: 80px 0;
}

.intro2-txt p{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}

.intro2-span{
    font-weight: bold;
    background: linear-gradient(transparent 60%, #EBB94D 50%);
}

@media screen and (max-width:768px) {
    #intro2 {
        background-position: center bottom;
        background-size: contain;
    }
    .intro2-cont {
        padding: 65px 15px 50px;
    }
    .intro2-title{
        font-size: 18px;
    }
    .intro2-title::before {
        width: 30px;
        height: 30px;
        top: -25px;
        left: 0;
    }
    .intro2-title::after {
        width: 30px;
        height: 30px;
        bottom: -30px;
        right: 0;
    }
    .intro2-txt{
        padding: 0 15px;
    }
    .intro2-txt p{
        font-size: 15px;
    }
    .sp-margin{
        display: block;
        margin-top: 25px;
    }
}






#about{
    background-color: #FEF5E0;
}

.circle{
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    background-color: #EBB94D;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: relative;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.about-cont{
    padding: 20px 0 50px;
    text-align: center;
}

.about-str{
    font-size: 20px;
    margin: 80px 0 20px;
}

.about-box{
    width: 100%;
    background-color: white;
    border: solid 2px #EBB94D;
    border-radius: 5px;
    padding: 35px 40px;
}

.ab-title{
    font-size: 20px;
}

.ab-flex{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 25px;
}

.ab-item p{
    font-size: 12px;
    font-weight: 300;
    margin-top: 5px;
}

@media screen and (max-width:768px) {
    .circle{
        font-size: 12px;
        font-weight: 300;
        width: 60px;
        height: 60px;
        line-height: 60px;
        top: -45px;
    }
    .about-cont {
        padding: 20px 15px 50px;
    }
    .about-str, .ab-title{
        font-size: 15px;
    }
    .about-box{
        padding: 15px 40px;
    }
    .ab-flex{
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .ab-flex img{
        height: 30px;
    }
    .ab-item p{
        font-size: 10px;
    }
}






.learn-bg{
    background-image: url('static/aboutsecondbg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.learn-cont{
    text-align: center;
    padding: 60px 0 40px;
}

.learn-title{
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.learn-subtitle{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.orange{
    color: #EBB94D;
}

.learn-flex{
    display: flex;
    column-gap: 15px;
    margin-top: 30px;
}

.learn-box{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 32%;
}

.learn-step{
    background-color: #EBB94D;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;
    font-size: 16px;
}

.learn-date{
    margin-bottom: 15px;
}

.learn-do{
    font-size: 16px;
}

.learn-middle{
    background-color: #016ea9;
}

.lm-cont{
    text-align: center;
    padding: 40px 0;
}

.lm-p{
    font-size: 20px;
    color: white;
}

.lb-cont{
    text-align: center;
    padding: 30px 0;
}

.lb-title{
    font-size: 28px;
    margin-bottom: 40px;
}

.lb-subtitle{
    font-size: 20px;
    font-weight: 300;
}

.lb-flex{
    display: flex;
    justify-content: center;
    margin: 30px 0 40px;
    column-gap: 30px;
}

.lb-flex img{
    width: 180px;
}

.lb-str{
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width:768px) {
    .learn-bg{
        background-image: url('static/aboutsecondbgsp.jpg');
    }
    .learn-flex{
        flex-direction: column;
        row-gap: 15px;
    }
    .learn-box{
        width: 90%;
        margin: 0 auto;
        padding: 15px 20px;
    }
    .learn-title{
        font-size: 18px;
    }
    .learn-subtitle{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .learn-step{
        font-size: 12px;
        margin-bottom: 15px;
    }
    .learn-date{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .learn-do{
        font-size: 12px;
    }
    .lm-p{
        font-size: 12px;
    }
    .lb-title{
        font-size: 18px;
    }
    .lb-subtitle{
        font-size: 16px;
    }
    .lb-flex{
        column-gap: 10px;
    }
    .lb-flex img{
        width: 72.5px;
    }

}




#merit{
    background-color: #FEF5E0;
}

.merit-cont {
    padding: 85px 0 30px;
    text-align: center;
}

.merit-span{
    font-size: 20px;
}

.merit-flex{
    margin-top: 80px;
    display: flex;
    column-gap: 30px;
}

.merit-box{
    text-align: left;
    width: 32%;
}

.mb-img{
    width: 100%;
}

.mb-title{
    color: #EBB94E;
    font-size: 20px;
    margin: 5px 0;
}

.merit-b-str{
    font-size: 16px;
    font-weight: 300;
}

.support-box{
    background-color: white;
    border: solid 2px #EBB94E;
    padding: 40px;
    margin-top: 40px;
}

.sb-title{
    color: #EBB94E;
    font-size: 28px;
}

.sb-subtitle{
    font-size: 20px;
    margin: 15px 0;
}

.sb-str{
    font-size: 16px;
    line-height: 2;
}

.merit-str{
    font-weight: 300;
    margin-top: 40px;
}

@media screen and (max-width:768px) {
    .merit-cont {
        padding: 75px 15px 30px;
    }
    .merit-span{
        font-size: 15px;
    }
    .merit-flex{
        flex-direction: column;
        row-gap: 30px;
        margin-top: 60px;
    }
    .merit-box{
        width: 100%;
    }
    .mb-title{
        font-size: 15px;
        text-align: center;
    }
    .merit-b-str{
        font-size: 12px;
        padding: 0 15px;
    }
    .support-box{
        padding: 15px 20px;
        border-radius: 5px;
    }
    .sb-title{
        font-size: 18px;
    }
    .sb-subtitle{
        font-size: 15px;
    }
    .sb-str{
        font-size: 10px;
        letter-spacing: 0px;
        line-height: 1.4;
    }
    .pc-br{
        display: none;
    }
    .merit-str{
        font-size: 11px;
        margin-top: 15px;
    }
}









#member{
    background-image: url('static/teacherbg.jpg');
    background-position: center center;
    background-size: cover;
}

.member-cont{
    color: white;
    text-align: center;
    padding: 80px 0 35px;
}

.member-title{
    font-size: 28px;
    margin-bottom: 30px;
}

.member-subtitle{
    font-size: 16px;
}

.member-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    margin: 50px 0 0;
}

.member-box{
    width: 369px;
}

.mb-str{
    font-size: 16px;
}

.mb-str2{
    font-size: 16px;
    margin: 15px 0;
    font-weight: 300;
}

.mb-str3{
    font-size: 16px;
    text-align: left;
    font-weight: 300;
}


.member-str-box{
    padding: 40px 35px;
    border: solid 3px white;
}

.member-img{
    border-radius: 50%;
    position: relative;
    top: 35px;
}

@media screen and (max-width:768px) {
    #member{
        background-image: url('static/teacherbgsp.jpg');
    }
    .member-cont {
        padding: 70px 15px 35px;
    }
    .member-title{
        font-size: 18px;
    }
    .member-subtitle{
        font-size: 12px;
    }
    .member-flex{
        margin-top: 0px;
    }
    .member-img{
        width: 120px;
    }
    .member-str-box{
        padding: 45px 15px 15px;
    }
    .mb-str,.mb-str2,.mb-str3{
        font-size: 12px;
        font-weight: 300;
    }
}










.qa-bg{
    background-color: #EBB94E;
}

.qa-cont{
    text-align: center;
    color: white;
    padding: 50px 0;
}

.qa-cont2{
    text-align: center;
    padding: 50px 0;
}

.circle2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    color: #EBB94D;
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.qa-title{
    font-size: 28px;
    position: relative;
}

.qa-title::before{
    content: '';
    position: absolute;
    border-top: solid 4px white;
    border-left: solid 4px white;
    width: 55px;
    height: 55px;
    top: -20px;
    left: 155px;
}

.qa-title::after{
    content: '';
    position: absolute;
    border-bottom: solid 4px white;
    border-right: solid 4px white;
    width: 55px;
    height: 55px;
    bottom: -9px;
    right: 145px;
}

.triangle::after{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: #EBB94D transparent transparent transparent;
    border-width: 25px 25px 0 25px;
}

.qa-answer{
    font-size: 28px;
    margin-bottom: 15px;
}

.qa-reason{
    font-size: 16px;
    margin-bottom: 20px;
}

.qa-mess{
    font-size: 16px;
    font-weight: 300;
}

.qa-flex{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 30px;
}

.qa-box{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.qa-img{
    width: 212px;
    border: solid 2px #EBB94E;
}

.mess-box{
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    color: #777777;
    width: 42%;
    margin-top: 20px;
    text-align: left;
}

.mess-line{
    color: #777;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .qa-cont {
        padding: 50px 15px;
    }
    .circle2{
        font-size: 12px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .qa-title{
        font-size: 14px;
    }
    .qa-title::before {
        width: 30px;
        height: 30px;
        top: -20px;
        left: 0px;
    }
    .qa-title::after {
        width: 30px;
        height: 30px;
        bottom: -9px;
        right: 0px;
    }
    .qa-answer{
        font-size: 18px;
    }
    .qa-reason ,.qa-mess{
        font-size: 12px;
    }
    .qa-flex{
        padding: 0 5px;
        row-gap: 50px;
    }
    .mess-box{
        width: 60%;
        margin-top: 0;
        letter-spacing: 0;
    }
    .qa-img{
        width: 110px;
        height: 110px;
    }
}










#content{
    background-image: url('static/classbg.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.content-cont{
    padding: 50px 0;
    text-align: center;
    color: white;
}

.content-title{
    font-size: 28px;
    margin-bottom: 10px;
}

.content-subtitle{
    font-size: 16px;
}

.content-flex{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 30px;
}

.content-box{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.cb-title{
    font-size: 16px;
    background-color: #016ea9;
    color: white;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
}

.content-ul{
    border: solid 1px #016ea9;
}

.content-ul li{
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: dotted 1px #e5e5e5;
}

.content-acc{
    display: none;
}

@media screen and (max-width:768px) {
    .content-cont {
        padding: 50px 15px;
    }
    .content-title{
        font-size: 18px;
    }
    .content-subtitle{
        font-size: 12px;
    }
    .content-flex{
        flex-direction: column;
        row-gap: 15px;
    }
    .content-box{
        width: 100%;
    }
    .content-ul li{
        font-size: 12px;
    }
    .lm-cont {
        padding: 40px 15px;
    }
    .content-acc{
        display: block;
    }
}











.flow-cont{
    text-align: center;
    padding: 50px 0;
}

.flow-title{
    font-size: 28px;
    margin-bottom: 50px;
}

.flow-img{
    margin-bottom: 30px;

}

.flow-box{
    background-color: #FEF5E0;
    border-radius: 10px;
    display: flex;
    padding: 40px;
    align-items: center;
}

.fb-img{
    width: 54%;
}

.fb-img p{
    font-size: 18px;
    margin-top: 5px;
}

.fb-txt{
    text-align: left;
}

.fb-str{
    font-size: 16px;
}

.fw-300{
    font-weight: 300;
}

.mb-20{
    margin-bottom: 20px;
}

@media screen and (max-width:768px) {
    .flow-cont {
        padding: 50px 15px;
    }
    .flow-title{
        font-size: 18px;
    }
    .flow-img, .flow-box, .flowline{
        display: none;
    }
    .que-img{
        width: 35px;
        margin-right: 15px;
    }
    .question2 {
        font-size: 16px;
        padding: 15px 20px;
        position: relative;
    }
    .que-left{
        text-align: left;
        display: flex;
        align-items: center;
    }
    .fb-li{
        background-color: #FEF5E0;
    }
    .fb-str {
        font-size: 12px;
        text-align: left;
    }
    .mb-20{
        margin-bottom: 10px;
    }
}









#bangkok{
    background-image: url('static/bangkokbg.jpg');
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.bangkok-cont{
    padding: 80px 50px;
    color: white;
}

.bangkok-cont h1{
    font-size: 24px;
    margin-bottom: 15px;
}

.bangkok-cont p{
    font-weight: 300;
}

.bangkok-cont h2{
    font-size: 20px;
    padding-top: 15px;
}

.bangkok-list{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5px;
}

.bangkok-list p{
    margin-bottom: 15px;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    #bangkok{
        background-image: url('static/bangkokbgsp.jpg');
    }
    .bangkok-cont h1 {
        text-align: center;
    }
    .bangkok-cont p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .bangkok-cont h2{
        font-size: 15px;
        padding-top: 10px;
    }
    .bangkok-cont {
        padding: 60px 40px 30px;
        color: white;
    }
}









#present{
    background-color: #EBB94D;
}

.present-cont{
    text-align: center;
    padding: 50px 0;
}

.present-title{
    font-size: 28px;
}

.present-subtitle{
    font-size: 16px;
    padding: 40px 0 30px;
}
.white{
    color: white;
}

.present-detail{
    background-color: #EBB94D;
    font-size: 28px;
    position: relative;
    top: 15px;
    display: inline;
}

.present-box{
    border: solid 1px white;
    display: flex;
    justify-content: center;
    column-gap: 100px;
    padding: 40px;
}

.present-item{
    background-color: white;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    padding: 40px 15px;
}

.present-item h1{
    font-size: 24px;
    color: #EBB94D;
    margin-bottom: 20px;
}

.present-item-sp{
    display: none;
}

@media screen and (max-width:768px) {
    .present-cont {
        padding: 50px 15px;
    }
    .present-title,.present-detail{
        font-size: 18px;
    }
    .present-subtitle {
        font-size: 12px;
        padding: 40px 0 30px;
    }
    .present-box{
        flex-direction: column;
        padding: 30px 5px 30px 30px;
    }
    .present-item{
        display: none;
    }
    .present-item-sp{
        display: flex;
        justify-content: space-around;
        column-gap: 30px;
        margin-bottom: 30px;
    }
    .pi-circle{
        background-color: white;
        color: #EBB94D;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 60px;

    }
    .pi-circle h1{
        font-size: 12px;
    }
    .present-item-sp p{
        font-size: 12px;
        color: white;
        text-align: left;
        width: 60%;
    }
}








#no-volunteer{
    background-image: url('static/specialdetail.jpg');
    background-position: center;
    background-size: cover;
}

.no-v-cont{
    color: white;
    text-align: center;
    padding: 50px 0;
}

.no-v-subtitle{
    font-size: 20px;
    margin-bottom: 50px;
}

.no-v-subtitle2{
    font-size: 20px;
    margin-top: 50px;
}

.no-v-title{
    font-size: 28px;
    position: relative;
}

.no-v-title::before{
    content: '';
    position: absolute;
    border-top: solid 4px #ffffff;
    border-left: solid 4px #ffffff;
    width: 55px;
    height: 55px;
    top: -30px;
    left: 155px;
}

.no-v-title::after{
    content: '';
    position: absolute;
    border-bottom: solid 4px #ffffff;
    border-right: solid 4px #ffffff;
    width: 55px;
    height: 55px;
    bottom: -40px;
    right: 145px;
}

@media screen and (max-width:768px) {
    #no-volunteer{
        background-image: url('static/specialdetailsp.jpg');
    }
    .no-v-cont {
        padding: 50px 15px;
    }
    .no-v-subtitle,.no-v-subtitle2{
        font-size: 12px;
    }
    .no-v-title{
        font-size: 18px;
    }
    .no-v-title::before {
        width: 30px;
        height: 30px;
        top: -30px;
        left: 0px;
    }
    .no-v-title::after{
        width: 30px;
        height: 30px;
        bottom: -40px;
        right: 0px;
    }
}








.founder-cont{
    text-align: center;
    padding: 50px 0;
}

.founder-title{
    font-size: 28px;
    margin-bottom: 30px;
}

.founder-subtitle{
    font-size: 20px;
}

.founder-flex{
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
    text-align: left;
    font-weight: 300;
}

.founder-img{
    width: 195px;
    height: 144px;
}

.mt-10{
    margin-top: 10px;
}

.mt-30{
    margin-top: 30px;
}

@media screen and (max-width:768px) {
    .founder-cont {
        padding: 50px 15px;
    }
    .founder-title{
        font-size: 18px;
    }
    .founder-subtitle{
        font-size: 15px;
    }
    .founder-flex{
        flex-direction: column;
    }
    .founder-img{
        width: 100%;
        height: 100%;
    }
    .mt-5{
        margin-top: 5px;
    }
    .mt-30{
        margin-top: 30px;
    }
}









#form{
    background-color: #EBB94D;
}

.form-cont{
    text-align: center;
    padding: 50px 0;
}

.form-title{
    font-size: 28px;
}

.form-subtitle{
    margin-top: 30px;
}

.form-flex{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    font-weight: 300;
    width: 80%;
    margin: 30px auto 0;
}

input{
    background-color: white !important;
    padding: 15px 8px;
    border-radius: 5px !important;
}

textarea{
    background-color: white !important;
    padding: 15px 8px;
    border-radius: 5px !important;
    margin-top: 20px;
    height: 100px;
}

.submit{
    background-color: #da6b64 !important;
    color: white;
    border-radius: 50px !important;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 2rem;
}


@media screen and (max-width:768px) {
    .form-cont {
        padding: 50px 15px;
    }
    .form-title{
        font-size: 18px;
    }
    .form-subtitle{
        font-size: 14px;
    }
    .form-flex{
        width: 100%;
    }
}








.que-cont{
    padding: 50px 0;
}

.que-title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.accordion-area li{
    margin-bottom: 5px;
}

.question{
    font-size: 16px;
    border: solid 1px #e5e5e5;
    padding: 15px 20px;
    position: relative;
}

.fa-circle-question{
    color: #016ea9;
}

.fa-angle-down{
    color: #e5e5e5 !important;
    float: right;
    font-size: 25px;
    position: absolute;
    right: 15px;
}

.fa-angle-up{
    color: #e5e5e5 !important;
    float: right;
    font-size: 25px;
    position: absolute;
    right: 15px;
}

.box{
    padding: 15px 20px;
}

@media screen and (max-width:768px) {
    .que-cont {
        padding: 50px 15px;
    }
    .que-title{
        font-size: 18px;
    }
    .question{
        font-size: 14px;
        padding: 15px 10px;
    }
}









#footer{
    background-color: #ECECEC;
}

.footer{
    text-align: center;
    padding: 50px 0 30px;
    font-size: 10px;
    font-weight: 300;
}

.footer-sns{
    margin: 15px 0 30px;
}

.f-dd{
    color: #23527c;
}

@media screen and (max-width:768px) {
    .footer{
        padding: 30px 15px 10px;
    }
}